## This image extends 'jangrewe/gitlab-ci-android' by adding node and yarn, needed for DangerJS.
image: 119677764340.dkr.ecr.ap-south-1.amazonaws.com/jangrewe/gitlab-ci-android:1.2

default:
  tags:
    - docker

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "development"'

stages:
  - build
  - post-build
  - deploy

before_script:
  - npm install -g gnomon
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - chmod +x ./gradlew
  - if [ "$GRADLE_SCAN" = "true" ]; then GRADLE_SCAN_OPTION="--scan"; fi
  - yarn install
  - export

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle/wrapper
    - .gradle/caches

build-all:
  stage: build
  interruptible: true
  script:
    # `overallCoverageReport` builds everything and creates coverage info
    # `app:lintDebug` is used as an unmbrella project at the moment to run all module Lints
    - "./gradlew overallCoverageReport app:lintDebug --stacktrace"
  artifacts:
    paths:
      - "**/build/reports"

coverage:mergeRequest:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  stage: post-build
  interruptible: true
  script:
    - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME:$CI_MERGE_REQUEST_TARGET_BRANCH_NAME
    - "./gradlew jacocoDiffCoverage -PtargetBranch=$CI_MERGE_REQUEST_TARGET_BRANCH_NAME --continue"
  artifacts:
    when: always
    paths:
      - "**/build/**/reports"
    reports:
      cobertura: "**/build/reports/cobertura/cobertura.xml"

deploy:flights-sdk:
  extends: .common:snapshot-deploy
  variables:
    LIB: flights-sdk

.common:snapshot-deploy:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
  script:
    - "./gradlew $LIB:publishSnapshotPublicationToNexusSnapshotRepository --stacktrace"