<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixigo.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".IxigoSdkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>


</manifest>
