<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ixigo.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <package android:name="com.phonepe.app" />
        <package android:name="com.phonepe.app.preprod" />
        <package android:name="com.dreamplug.androidapp" />
    </queries>

    <application
        android:allowBackup="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup"
        android:hardwareAccelerated="true">
        <activity android:name="com.ixigo.sdk.webview.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IxigoSDK.NoActionBar"/>
        
        <provider
            android:authorities="com.ixigo.sdk.contentprovider"
            android:name=".contentprovider.IxigoSdkInitProvider"
            android:exported="false" />
    </application>

    <queries>
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
</manifest>