<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mypackage.mylibrary">

    <application
        android:allowBackup="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true" >

        <receiver
            android:name="com.ixigo.sdk.payment.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="juspay-client-id"
            android:value="ixigoprod" />
    </application>

</manifest>